.main-container 
{
    background-image: url("../photos/central/p1_bg.jpg");
    background-size: 100% auto;
    height: 600px;
    background-repeat: no-repeat;
}

.main-container .main-time
{
    color: white;
    font-size: 30px;
    font-family: 'Exo';
    font-weight: bolder;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.main-wrapper
{
    height: 400px;
    display: flex;
}

.main-wrapper .column
{
    flex: 33%;
    margin-top: 50px;
}

.main-wrapper .column .articol
{
    width: 75%;
    height: 80%;
    margin: auto;
    border: 3px solid black;
}

@media only screen and (max-width: 500px) {
    .main-container .main-time
    {
        font-size: 25px;
    }
}


@media only screen and (max-width: 760px) {
    .main-container .main-time
    {
        padding-left: 0px;
        text-align: center;
    }
}

@media only screen and (max-width: 850px) {
    /* modific cele 3 coloane */
    .main-wrapper
    {
        display: inline;
    }

    .main-wrapper .column
    {
        height: auto;
        margin-bottom: 20px;
    }

    .main-wrapper .column .articol
    {
        width: 50%;
    }
}